.example-container {
  width: 99%;
  height: 99%;
  margin: 10px;
  border: 1px solid lightgray;
  margin: left 10px;
  
}

.wc-section {
  display: flex;  
  width:150px;   
  background-color: dodgerblue;
  color: white;
  text-align: left;
  font-weight: bold;
  
}


